[submodule "Motor_Softarm/lib/CiA402Device"]
	path = Motor_Softarm/lib/CiA402Device
	url = https://github.com/HUMASoft/CiA402Device.git
[submodule "Motor_Softarm/kinematics"]
	path = Motor_Softarm/kinematics
	url = https://github.com/HUMASoft/kinematics.git
[submodule "Motor_Softarm/lib/sensor-integration"]
	path = Motor_Softarm/lib/sensor-integration
	url = https://github.com/HUMASoft/sensor-integration.git
[submodule "Motor_Softarm/lib/fcontrol"]
	path = Motor_Softarm/lib/fcontrol
	url = https://github.com/munozyanez/fcontrol.git
